.qr_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input_container {
  width: 85%;
  padding: 5px;
  display: flex;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  background-color: var(--dark);
}

.input_container input {
  width: calc(100% - 130px);
  flex-grow: 1;
  height: 45px;
  padding-right: 10px;
  margin-left: 10px;
  outline: none;
  border: none;
  background-color: transparent;
  color: var(--white);
  font-family: 'Outfit', sans-serif;
  font-weight: 500;
  font-size: 1rem;
}

.input_container button {
  width: 120px;
  height: 45px;
  border: none;
  border-radius: 10px;
  background-color: var(--primary-color);
  color: var(--white);
  font-family: 'Outfit', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
}

.success_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.options_container {
  margin-top: 50px;
  display: flex;
}

.options_container button {
  width: 140px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 10px;
  background-color: var(--primary-color);
  color: var(--white);
  font-family: 'Outfit', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
}

.options_container button:first-child {
  margin-right: 15px;
}

.icon {
  margin-left: 5px;
  font-size: 1.25rem;
  color: var(--white);
}

@media (min-width: 700px) {
  .input_container {
    width: 500px;
  }
}
